<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shinnil.godot.plugin.android.godotshare"
    android:versionCode="3"
    android:versionName="3.0.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="29" />

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GodotShare"
            android:value="shinnil.godot.plugin.android.godotshare.GodotShare" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>